
/* Ajax Dialogue stuff */

html.js #pleaseWait-darkBackground {
	visibility: hidden;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	width: 100%;
	z-index: 300;
	/* height: 200%; */
}


#ajaxDialogue-pleaseWait {
	display: none;
	position: fixed;
	z-index: 500;
	top: 160px;
	left: 270px;
	font-weight: bold;
	border: solid 3px black;
	width: 300px;
	background: white url('../images/icons/hourglass.gif') no-repeat;
	padding: 10px 0 10px 40px;
}


html.js div.ajaxDialogue {
	padding: 0px;
	font-size: 80%;
	visibility: hidden;
	

	border: solid 3px black;
	background-color: white;
	max-height: 90%;
	margin: 0;
	z-index: 400;
	width: 60%;
	
}

div.ajaxDialogue div.header {
	margin: 0px;
	padding: 10px 0px 0px 10px;
	color: white;
	background-color: #000033;
}
div.ajaxDialogue div.header h1 {
		padding: 0 10px;
		font-size: 0.8em;
}
div.ajaxDialogue div.header div.buttons {
	float: right;	
}

html.js div.ajaxDialogue div.body {
	position: relative;
	padding: 10px;
	/* max-height: 400px; */
	height: 200px;
	
	border: solid 3px black;
	background: white;
	overflow: auto;
}



/* html.Explorer_6_Windows div.ajaxDialogue div.body {
	height: expression( StringHelpers.sprintf("%dpx", BrowserHelpers.getWindowHeight()*7/10));
} */ 

a.ajaxDialogue-openLayer  {
	text-decoration: none;
}

div.ajaxDialogue div.end {
	clear: both;
}

div.ajaxDialogue table {
	width: 80%;
	margin: 0 auto 20px auto;
}

div.ajaxDialogue table td {
	padding: 5px;
}


div.ajaxDialogue .controls {
	display: block;	
}

a.marker {
}


div.ajaxDialogue .header h2 {
	margin: 0;
	padding: 0 !important;
	float: left;
}	


div.ajaxDialogue .controls {
	float: right;
	color: #ccccff;
}

html.js div.ajaxDialogue .buttons {
	padding: 10px ;
	text-align: center;
}

html.js div.ajaxDialogue form  table {
	margin: 0 auto;
}

html.js div.ajaxDialogue-errorContent{
	border: solid 1px black;
	padding: 0 10px 0 20px;
	background: white url(../../images/icons/alerts/error.gif) 0px 0px no-repeat;
	vertical-align: middle;
	height: 50px;
}

html.js div.ajaxDialogue-errorContent ul {
	list-style-type: none;
}

div.ajaxDialogue li {
	margin-bottom: 5px;
}

div.ajaxDialogue .message {
	padding: 12px 10px 10px 60px; /* first was 13px */
	border: solid 1px #cccccc;
	min-height: 36px;
	line-height: 15px;
	margin: 0 19px 10px 15px;
	font-weight: bold;
	font-size: 1.2em;
	
}

div.ajaxDialogue textarea {
	display: block;
	width: 80%;
	margin: 0 auto;
}


